<mat-toolbar class="header">
    <img src="https://ceems.thapar.edu/img/cod/ti_logo-2.png" alt="book" width="65" height="40" class="header-image">
    <h4 ><strong>&emsp;THAPAR INSTITUTE OF ENGINEERING & TECHNOLOGY</strong></h4>
  <span class="spacer"></span>
  
    <!-- <ng-container *ngIf="isAuthenticated()">
      <button  mat-raised-button color="warn" (click)="logout()" >Logout</button>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated()">
      <button  mat-raised-button color="primary" routerLink="/login" >Login</button>
    </ng-container> -->
</mat-toolbar>

