<app-navbar></app-navbar>
<div class="container py-3">
  <div class="row">
    <div class="col-md-9">
      <h2>List of {{type === 'faculty' ? 'Faculty Members' : 'Scholars' | titlecase}}</h2>
    </div>

    <div *ngIf="isAdmin" class="col mr-auto text-right">
      <button
        data-testid="add-button"
        class="float-end"
        mat-raised-button
        color="primary"
        (click)="onAddMember()"
      >
        <i class="fa fa-plus"></i>&emsp;New Member
      </button>
    </div>
  </div>

  <hr />

  <!-- Displays member cards using member Component -->
  <div class="row">
    <div class="col-md-4 mt-3" *ngFor="let singleMember of members; let i = index">
      <app-member [member]="singleMember"></app-member>
    </div>
  </div>
</div>


<!-- Modal for adding new member -->
<div class="modal fade show" [class.show]="showModal" data-testid="add-form">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Member</h5>
        <button
          (click)="onCloseModal()"
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="memberForm" (ngSubmit)="onAddMemberSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Choose Type</mat-label>
              <select matNativeControl required formControlName="type">
                <option label="--select something --"></option>
                <option value="faculty">Faculty</option>
                <option value="scholar">Scholar</option>
              </select>
              <mat-error *ngIf="
                  !memberForm.get('type')!.valid && memberForm.get('type')!.touched
                ">Please choose a type</mat-error>
            </mat-form-field>  
            <mat-form-field appearance="outline">
              <mat-label>Full Name</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="fullName"
                required
              />
              <mat-error
                *ngIf="
                  !memberForm.get('fullName')!.valid && memberForm.get('fullName')!.touched
                "
                >Please Enter Your Name.</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Profile Pic</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="profilePic"
                placeholder="Enter the drive link of your profile picture"
              />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Address Line 1</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="addressLine1"
                required
              />
              <mat-error
                *ngIf="
                  !memberForm.get('addressLine1')!.valid &&
                  memberForm.get('addressLine1')!.touched
                "
                >Please enter your address</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Address Line 2</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="addressLine2"
              />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>City</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="city"
                required
              />
              <mat-error
                *ngIf="
                  !memberForm.get('city')!.valid &&
                  memberForm.get('city')!.touched
                "
                >Please enter your city</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>State</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="state"
                required
              />
              <mat-error
                *ngIf="
                  !memberForm.get('state')!.valid &&
                  memberForm.get('state')!.touched
                "
                >Please enter your State</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Phone No.</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="phone"
                required
              />
              <mat-error
                *ngIf="
                  !memberForm.get('phone')!.valid &&
                  memberForm.get('phone')!.touched
                "
                >Please enter your contact number</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Email Address</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="email"
                required
              />
              <mat-error
                *ngIf="
                  !memberForm.get('email')!.valid &&
                  memberForm.get('email')!.touched
                "
                >Please enter your email id</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Your Designation</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="designation"
                required
              />
              <mat-error
                *ngIf="
                  !memberForm.get('designation')!.valid &&
                  memberForm.get('designation')!.touched
                "
                >Please enter your designation</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Your Department</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="department"
                required
              />
              <mat-error
                *ngIf="
                  !memberForm.get('department')!.valid &&
                  memberForm.get('department')!.touched
                "
                >Please enter your department</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Google Scholar Link (if any)</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="googleScholar"
              />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Research Gate Link (if any)</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="researchGate"
              />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Your CV Link</mat-label>
              <input
                matInput
                type="text"
                class="form-control"
                formControlName="cv"
                placeholder="Enter google drive link of your CV"
              />
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Education Details</mat-label>
              <textarea
                matInput
                type="text"
                class="form-control"
                formControlName="education"
                required >
              </textarea>
              <mat-hint align="end">Enter your education degree details each separated by &</mat-hint>
              <mat-error
                *ngIf="
                  !memberForm.get('education')!.valid &&
                  memberForm.get('education')!.touched
                "
                >Please enter your education details</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Current Interest Areas</mat-label>
              <textarea
                matInput
                type="text"
                class="form-control"
                formControlName="interests"
                required >
              </textarea>
              <mat-hint align="end">Enter all your interests each separated by a &</mat-hint>
              <mat-error
                *ngIf="
                  !memberForm.get('interests')!.valid &&
                  memberForm.get('interests')!.touched
                "
                >Please enter your current interest areas</mat-error
              >
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Significant Honors (if any)</mat-label>
              <textarea
                matInput
                type="text"
                class="form-control"
                formControlName="honors"
                placeholder="Enter some of your significant honors each separated by a &" >
              </textarea>
              <mat-hint align="end">Format: Honors title name @ relevant link each separated by &</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Publications (if any)</mat-label>
              <textarea
                matInput
                type="text"
                class="form-control"
                formControlName="publications">
              </textarea>
              <mat-hint align="end">Enter all your publications each separated by a &</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Projects (if any)</mat-label>
              <textarea
                matInput
                type="text"
                class="form-control"
                formControlName="projects">
              </textarea>
              <mat-hint align="end">Enter all your projects each separated by a &</mat-hint>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field appearance="outline">
              <mat-label>Achievements</mat-label>
              <textarea
                matInput
                type="text"
                class="form-control"
                formControlName="achievements">
              </textarea>
              <mat-hint align="end">Enter all your achievements each separated by a &</mat-hint>
            </mat-form-field>
          </div>

        </div>
        <div class="modal-footer">
          <button
            mat-raised-button
            color="primary"
            data-testid="submit-button"
            (click)="onAddMemberSubmit()"
            type="reset"
            class="mx-3"
            [disabled]="!this.memberForm.valid"
          >
            Add Member
          </button>
          <button
            data-testid="close-button"
            mat-raised-button
            type="button"
            (click)="onCloseModal()"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
